<header>
  <nav class="navbar nav__top" *ngIf="pageViewModel$ | async as pageViewModel">
    <div class="container">
      <div class="header-first">

        <a class="style-header-text" style="margin-right: 30px;" href="mailto:19521399@gmail.com">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic-message.svg" />
          <span>
            19521399@gmail.com
          </span>
        </a>

        <a class="style-header-text" href="mailto:mwcshop@gmail.com"> <img
            src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_phone.svg" />
          <span>
            0857550531
          </span>
        </a>
        <div class="navbar__spacer"></div>

        <div>
          <ul class="navbar__nav">
            <li class="nav__item" *ngIf="pageViewModel.user?.email == ''">
              <a class="nav-link" routerLink="/login">
                <span style="margin: 0;">
                  Đăng nhập
                </span>
                <i class="ai-person"></i>
              </a>
            </li>

            <li class="nav__item">
              <a class="nav-link" aria-current="page" routerLink="/shopping-cart">
                Giỏ hàng
                <i class="ai-cart"></i>
              </a>
            </li>

            <li class="nav__item dropdown" style="margin-right: 0px;" *ngIf="pageViewModel.user?.email != ''">
              <a class="nav-link" routerLink="/login">
                <div class="navbar__link-container">
                  <div class="cheems-avatar">
                    <div class="cheems-avatar-placeholder">
                      <img class="svg-style" src="./../../../assets/images/user-not-img.svg" alt="">
                    </div>
                    <img class="cheems-avatar-img" *ngIf="pageViewModel.user?.medias.length != 0"
                      [src]="pageViewModel.user?.medias[0]?.filePath">
                  </div>
                  <div class="username-text">{{ pageViewModel.user.fullname }}</div>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="personal-information">Trang cá nhân</a></li>
                <li><a class="dropdown-item" type="button" (click)="logout()">Đăng xuất</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="header-second">
      <nav class="navbar nav__botom">
        <a class="nav-link nav__item__header__bottom" aria-current="page" href="#">CheemsStore</a>
        <a class="nav-link nav__item__bottom" href="#">Trang chủ</a>
        <a class="nav-link nav__item__bottom" routerLink="/product-list">Sản phẩm</a>
        <a class="nav-link nav__item__bottom" routerLink="/sales">Khuyến mãi</a>
        <a class="nav-link nav__item__bottom" href="#">Blog</a>
        <a class="nav-link nav__item__bottom" routerLink="/contact-us">Liên hệ</a>
      </nav>

      <div class="navbar__spacer"></div>
      <div class="nav__search">
        <div class="input-group mt-2">
          <input type="text" class="form-control" placeholder="Tìm kiếm...">
          <button class="btn button__search" type="button"><i class="ai-search"></i></button>
        </div>
      </div>

    </div>
  </div>
</header>
