<div class="title" direction="row">
    <span class="value-text">72.500</span>
    <span class="value-text">90.000</span>
</div>

<div class="range-slider">
    <div color="primary" class="slider-full">
        <div class="slider-track">
            <div class="slider-track-fill" style="width: 37.6923%; left: 31.9231%;"></div>
        </div>
        <div class="slider-thumb" role="slider" style="left: 31.9231%;" onmouseup="" onmousedown="" onmousemove="" ontouchstart="" ontouchmove="">
            <span class="tooltip" style="visibility: hidden;">41,500,000</span>
        </div>
        <div class="slider-thumb" role="slider" style="left: calc(69.6154%);">
            <span class="tooltip" style="visibility: hidden;">90,500,000</span>
        </div>
    </div>
</div>
