<div class="login-container">
    <div class="title-container">
      <div class="container">
        <div class="title-text">
          Đăng Ký
        </div>
        <div class="title-route">
          Trang chủ. <span>Đăng ký</span>
        </div>
      </div>
    </div>

    <div class="container m-common">
      <div class="login-content">
        <div class="login-title">Đăng ký</div>
        <div class="login-sub-title">
          Vui lòng nhập chi tiết tài khoản bên dưới.
        </div>
        <form [formGroup]="appForm">
          <ng-container formGroupName="formBody">
            <div class="input-margin">
              <input class="form-control" type="text" placeholder="Địa chỉ Email" formControlName="email">
            </div>
            <div class="input-margin">
              <input class="form-control" type="text" placeholder="Tên đầy đủ" formControlName="fullname">
            </div>
            <div class="input-margin">
              <input class="form-control" type="text" placeholder="Ngày sinh" formControlName="dob">
            </div>
            <div class="input-margin">
              <input class="form-control" type="text" placeholder="Mật khẩu" formControlName="password">
            </div>
            <div class="input-margin">
              <input class="form-control" type="text" placeholder="Xác nhận lại mật khẩu" formControlName="rePassword">
            </div>

            <button type="submit" class="button-submit form-control">Đăng ký</button>
            <div class="no-account">
              Bạn đã có tài khoản? <a routerLink="/login">Đăng nhập ngay</a>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
