* {
  box-sizing: border-box;
}

.cart-card {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: height 0.5s ease-in-out, opacity 0.1s linear 0.1s;
  width: 100%;

  .cart-image {
    display: inline-block;
    float: left;
    min-height: 152px;
    margin-right: 16px;
    position: relative;
    .image-wrapper {
      width: 100%;
      margin: 0;
      .image-style {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;
        border: 0;
        z-index: 0;
      }
    }
  }

  .cart-details {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 115px);

    .title-product {
      overflow-wrap: break-word;
      color: #151875;
      font-weight: bold;
    }

    .price-product {
      color: #151875;
      font-weight: 500;
      line-height: 24px;
    }

    .cart-product-details {
      display: block;
      margin-top: 16px;
      margin-bottom: 0;
      max-width: 430px;
      padding: 0;

      li {
        display: flex;
        flex: 1 1 50%;
        margin-bottom: 15px;
        .item-title {
          color: #151875;
          font-weight: bold;
          flex: 1 1 20%;
        }

        .value-text {
          color: #151875;
          font-weight: 500;
          flex: 1;
          margin-left: 16px;
        }
      }
    }
  }

  .cart-action {
    display: flex;
    margin-top: 24px;
  }

  .delete-icon-button-style {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    padding: 0px;
    width: 24px;
    height: 24px;

    i {
      padding: 2px;
      width: 20px;
      height: 20px;
    }
  }

  .delete-icon-button-style:hover {
    border: 2px solid #fb2e86;
    border-radius: 50%;
    i {
      color: #fb2e86;
    }
  }

  // .delete-icon-button-style:active {
  //   transform: scale(1.05);
  // }
}

.text-line-through {
  color: rgb(130, 129, 129);
  text-decoration: line-through;
  span {
    text-decoration: none;
    color: #151875;
  }
}

.amount-product {
  display: flex;
  align-items: center;
  color: #151875;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    width: 24px;
    height: 24px;
    i {
      color: #151875;
      padding: 2px;
      width: 20px;
      height: 20px;
    }
  }

  input {
    color: #151875;
    width: 50px;
    height: 24px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    -webkit-appearance: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    background: transparent;
  }
}

@media screen and (min-width: 768px) {
  .cart-card {
    .cart-image {
      min-height: 174px;
      margin-right: 24px;
      width: 112px;
    }
    .cart-details {
      width: 70%;

      .cart-product-details {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
      }
    }

    .cart-action {
      float: left;
      width: calc(100% - 160px);
    }
  }
}
