<article class="cart-card">
  <a routeLink="" class="cart-image">
    <div class="image-wrapper">
      <img class="image-style" alt="..." [src]="cartItem?.productTypes[0]?.medias[0]?.filePath"
      onerror="this.src='./../../../../assets/images/no-image-beidou.png'">
    </div>
  </a>
  <div class="cart-details">
    <h5 class="title-product">{{ cartItem?.productTypes[0]?.name }}</h5>
    <div>
      <span class="price-product">
        <span style="font-weight: bold;">
          Giá:
        </span>
        <span [ngClass]="cartItem?.productTypes[0]?.discountPercentage? 'text-line-through': ''"> {{
          cartItem?.productTypes[0]?.price | currencyFormat }}
        </span>
        <span [ngClass]="cartItem?.productTypes[0]?.discountPercentage? '': 'd-none'"> {{
          cartItem?.productTypes[0]?.price*(1 - cartItem?.productTypes[0]?.discountPercentage) | currencyFormat }}
        </span>
      </span>

    </div>
    <ul class="cart-product-details">
      <li>
        <span class="item-title">
          <span>Thương hiệu:</span>
        </span>
        <span class="value-text">{{ cartItem?.productTypes[0]?.metaDatas?.manufacturers[0]?.name }}</span>
      </li>
      <li>
        <span class="item-title">
          <span>Màu sắc:</span>
        </span>
        <span class="value-text">{{ cartItem?.productTypes[0]?.metaDatas?.color }}</span>
      </li>
      <li style="flex: 1 1 100%;">
        <span class="item-title">
          <span>Số lượng:</span></span><span class="value-text">
            <div class="amount-product">
              <button type="button" (click)="changeAmount(-1)">
                <i class="ai-minus"></i>
              </button>
              <input type="text" [value]="cartItem?.amount" readonly>
              <button type="button" (click)="changeAmount(1)">
                <i class="ai-plus"></i>
              </button>
            </div>
            <!-- {{ cartItem?.amount }} -->
          </span>
      </li>
      <li style="flex: 1 1 100%;">
        <span class="item-title">
          <span>Tổng tiền:</span>
        </span>
        <span class="value-text">{{ cartItem?.productTypes[0]?.price*cartItem?.amount | currencyFormat }}</span>
      </li>
    </ul>
  </div>
  <div class="cart-action">
  </div>
  <button class="delete-icon-button-style" type="button" (click)="changeAmount(0)">
    <i class="ai-trash-can"></i>
  </button>
</article>
