<div class="product-details">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Giỏ hàng
      </div>
      <div class="title-route">
        Trang chủ. <span>Giỏ hàng</span>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="pageViewModel$ | async as pageViewModel">
    <div class="cart-style mx-50" *ngIf="pageViewModel.cartItems.length > 0, else noProduct">
      <section class="cart-item-list">
        <div class="fadeInUp animated">
          <ul class="item-list">
            <li *ngFor="let cartItem of pageViewModel.cartItems;let index = index" class="items">
              <div class="d-flex" style="justify-content: space-between;">
                <div class="item-checkbox">
                  <div class="round">
                    <input type="checkbox" checked [id]="'checkbox'+index" [formControl]="getFormControl(index)" />
                    <label [for]="'checkbox'+index"></label>
                  </div>
                </div>
                <app-cart-card [cartItem]="cartItem" (changeAmountProduct)="onChangeProductAmount($event)"></app-cart-card>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="cart-sidebar">
        <div class="cart-total-style">
          <div class="title">
            Tổng giỏ hàng
          </div>
          <div class="container">
            <div class="total-style">
              Tổng: <span>{{ pageViewModel.cartItems | priceShow:"total": formCheckBox | currencyFormat }}</span>
            </div>
            <div class="total-style">
              Được giảm giá: <span>{{ pageViewModel.cartItems | priceShow:"discount": formCheckBox  | currencyFormat }}</span>
            </div>
            <div class="total-style">
              Tiền thanh toán: <span>{{ pageViewModel.cartItems | priceShow:"": formCheckBox  | currencyFormat }}</span>
            </div>

            <a type="button" class="form-control" (click)="onClickSubmit()">
              Tiến hành thanh toán
            </a>
          </div>
        </div>

      </section>
      <!-- <div class="col-lg-8">
        <table style="width:100%">
          <thead>
            <tr>
              <th style="width: 40%;">Sản phẩm</th>
              <th style="width: 20%;">Giá (VND)</th>
              <th style="width: 20%;">Số lượng</th>
              <th style="width: 20%;">Tổng</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>10.000</td>
              <td>1</td>
              <td>10.000</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>12.000</td>
              <td>1</td>
              <td>12.000</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>14.000</td>
              <td >1</td>
              <td>14.000</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>16.000</td>
              <td>1</td>
              <td>16.000</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
</div>


<ng-template #smallProductCard>
  <div class="small-product-card">
    <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ganyu-1.png" alt="">
    <div class="content-product">
      <div class="name-product">Beidou</div>
      <div class="property">
        Catagory: <span>Hello</span>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #noProduct>
  <div class="no-product">
    <div class="no-product-content">
      <div class="no-product-img">
        <img src="https://i.imgur.com/Drj57qu.png" loading="lazy" alt=""
          style="width: 100%; height: 100%; object-fit: inherit; position: absolute; top: 0px; left: 0px;">
      </div>
      <h4 style="text-align: center; margin-top: 16px; margin-bottom: 24px;">Hiện tại giỏ hàng chưa có sản phẩm nào</h4>
      <button class="no-product-button" (click)="goToProductList()">
        Mua sắm ngay
      </button>
    </div>
  </div>
</ng-template>
