<div class="product-details">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Shopping Cart
      </div>
      <div class="title-route">
        Route. Page. <span>Shopping Cart</span>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row mx-50">
      <div class="col-lg-8">
        <table style="width:100%">
          <thead>
            <tr>
              <th style="width: 40%;">Sản phẩm</th>
              <th style="width: 20%;">Giá</th>
              <th style="width: 20%;">Số lượng</th>
              <th style="width: 20%;">Tổng</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>Maria Anders</td>
              <td >Germany</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td><ng-container *ngTemplateOutlet="smallProductCard"></ng-container></td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 cart-total-style">
        <div class="title">
          Cart Total
        </div>
        <div class="container">
          <div class="total-style">
            Subtotals: <span>£219.00</span>
          </div>
          <div class="total-style">
            Totals: <span>£219.00</span>
          </div>

          <a type="button" class="form-control" routerLink="/shopping-cart/checkout">
            Tiến hành thanh toán
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #smallProductCard>
  <div class="small-product-card">
    <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ganyu-1.png" alt="">
    <div class="content-product">
      <div class="name-product">Beidou</div>
      <div class="property">
        Catagory: <span>Hello</span>
      </div>
    </div>
  </div>
</ng-template>
