<div class="card" style="width: 100%;" *ngIf="pageViewModel$ | async as pageViewModel">
  <div class="card-img-top">
    <!-- deploy app-->
    <div class="card-inner">
      <div class="card-item" *ngIf="pageViewModel.productType?.medias.length > 0, else noMedias">
        <img [src]="pageViewModel.productType?.medias[0]?.filePath"
          onerror="this.src='./../../../../assets/images/no-image-beidou.png'" class="rounded-top" alt="...">
      </div>
    </div>
    <div class="icon-top">
      <button class="circle" (click)="onAddItemToCart()">
        <i class="ai-cart"></i>
      </button>
    </div>
  </div>
  <ng-template #noMedias>
    <div class="card-item">
      <img src="./../../../../assets/images/no-image-beidou.png" class="rounded-top" alt="...">
    </div>
  </ng-template>
  <!-- <img class="card-img-top" src="./../../../../assets/images/ganyu-1.png" alt=""> -->
  <div class="card-body">
    <h6 class="card-title trademark-text">{{ pageViewModel.productType?.metaDatas?.manufacturers[0]?.name || ""}}</h6>
    <a [routerLink]="['/product-list/product', pageViewModel.productType?.id ]" style="text-decoration: none; color: #FB2E86;">
      <h6 class="card-title text-center">{{ pageViewModel.productType | productNameShowPipe:false }}</h6>
    </a>
    <div class="card-text text-center">
      <div class="card-bar-icon">
        <div class="bar-icon" style="background: #FB2E86;"></div>
        <div class="bar-icon m-2" style="background: #05E6B7;"></div>
        <div class="bar-icon" style="background: #FFEAC1;"></div>
      </div>
      <p class="text-cost">
        {{styleMoney.format(pageViewModel.productType?.price || 0)}}
      </p>
      <!-- <p *ngIf="pageViewModel.productType?.metaDatas != null" class="text-cost-km">
        {{styleMoney.format(pageViewModel.productType?.price)}}
      </p> -->
    </div>
  </div>
</div>

<app-notification></app-notification>
