.bar-icon {
    width: 20px;
    height: 4px;
    border-radius: 2px;
}


.card {
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 34, 0.1);
  border: none !important;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  position: relative;

  .card-img-top {
    position: relative;
    .icon-top {
      display: none;
    }
  }

  .card-body {
    .card-title {
      text-align: justify;
    }

    .trademark-text {
      color:  #2f2f59;
      font-weight: bold;
    }

    .card-text {
      .text-cost {
        color: #101750;
        line-height: 24px;
        font-weight: bold;
      }

      .text-cost-km {
        font-size: 14px;
        line-height: 20px;
        opacity: 0.8;
        text-decoration:line-through;
        color: #424a86;
      }
    }
  }
}



.card-bar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.card-item {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}


.card-inner {
  position: relative;
  padding-bottom: 70%;
}

.card-inner > .card-item > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f9fafc;
  //border-bottom: 1px solid #ccc;
}


.card:hover {
  transform: scale(1.05);
  color: #f9fafc;
  position: relative;

  .card-img-top {
    position: relative;
    .icon-top {
      display: flex;
      color:#f9fafc;
      margin: 10px;
      top: 0;
      right: 0;
      position:absolute;
      z-index: 100;
      .circle {
        padding: 5px 5px 3px 5px;
        border-radius: 50%;
        background-color: #2F1AC4;
        margin-right: 5px;
      }
    }
  }

  background-color: #2F1AC4;
  .card-body {
    padding-bottom: 10px;
    .card-title {
      color: #f9fafc;
    }

    .card-title:hover {
      color: #FFEAC1;
      transform: scale(1.05);
      text-decoration: underline;
    }

    .trademark-text:hover {
      text-decoration: none;
    }

    .card-text {
      .text-cost {
        color: #f9fafc;
      }

      .text-cost-km {
        color: #b8b8b8;
      }

    }

  }


}

p {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .card-body {
    padding-bottom: 0;
  }
}
