.bar-icon {
    width: 20px;
    height: 4px;
    border-radius: 2px;
}

.card {
  box-shadow: 5px 5px 10px 12px rgba(125, 118, 118, 0.1);
  border: none !important;
  margin-bottom: 20px;

  .card-img-top {
    .icon-top {
      display: none;
    }
  }
}

.card-bar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f9fafc;
  //border-bottom: 1px solid #ccc;
}


.card:hover {
  transform: scale(1.05);
  color: #f9fafc;

  .card-img-top {
    .icon-top {
      display: flex;
      color:#f9fafc;
      margin: 10px;
      position:absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      .circle {
        padding: 5px 5px 3px 5px;
        border-radius: 50%;
        background-color: #2F1AC4;
        margin-right: 5px;
      }
    }
  }

  background-color: #2F1AC4;
  .card-body {

    .card-title {
      color: #f9fafc;
    }
  }


}

p {
  margin: 0px;
}
.text-cost-km {
  text-decoration:line-through;
  color: #FB2E86;
}

// .carousel-item, img {
//   border-radius: 10px;
// }

