<footer>
  <div class="container footer__app">
    <div class="row">
      <div class="col-lg-6">
        <a class="nav-link name__app" aria-current="page" href="#">CheemsStore</a>
        <div class="input-group mt-2">
          <input type="text" class="form-control" placeholder="Enter Email Address">
          <button class="btn button__search" type="button">Sign Up</button>
        </div>
        <p class="title__child__footer">Contact Info</p>
        <p class="title__child__footer">KTX Khu A - DHQG - Dong Hoa - Di An - Thu Duc</p>
      </div>
      <div class="col-lg-2">
        <p class="title__footer">
          Máy tính xách tay
        </p>
        <p class="title__child__footer">Dell</p>
        <p class="title__child__footer">Lenovo</p>
        <p class="title__child__footer">Legion</p>
        <p class="title__child__footer">Asus</p>
      </div>
      <div class="col-lg-2">
        <p class="title__footer">
          Đồ điện tử
        </p>
        <p class="title__child__footer">Nồi cơm điện</p>
        <p class="title__child__footer">Quạt</p>
        <p class="title__child__footer">Tủ lạnh</p>
        <p class="title__child__footer">Lò vi sóng</p>
      </div>
      <div class="col-lg-2">
        <p class="title__footer">
          Phụ kiện
        </p>
        <p class="title__child__footer">Chuột</p>
        <p class="title__child__footer">Bàn phím</p>
        <p class="title__child__footer">Tai nghe</p>
        <p class="title__child__footer">CPU</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copy-right flex-50">
        Copyright © 2022 CheemsStore's.
      </div>
      <div class="icon-contact flex-50">
        <a href="https://www.facebook.com/dung.kunss.5">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_facebook.svg" alt="">
        </a>
        <a href="https://www.instagram.com/dungpront2001/">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_twiter.svg" alt="">
        </a>
        <a href="https://www.instagram.com/dungpront2001/">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
