<footer>
  <div class="container footer__app">
    <div class="row">
      <div class="col-lg-6">
        <a class="nav-link name__app" aria-current="page" href="#">CheemsStore</a>
        <div class="input-group mt-2">
          <input type="text" class="form-control" placeholder="Nhập địa chỉ Email">
          <button class="btn button__search" type="button">Đăng ký</button>
        </div>
        <p class="title__child__footer">Thông tin liên hệ</p>
        <p class="title__child__footer">Địa chỉ: KTX Khu A - ĐHQG - Đông Hòa - Dĩ An - Bình Dương</p>
        <p class="title__child__footer">
          <a class="style-header-text" href="mailto:19521399@gmail.com">
            Gmail: 19521399@gmail.com
          </a>
        </p>
        <p class="title__child__footer">
          Sđt: 0857550531
        </p>
      </div>
      <div class="col-lg-3">
        <p class="title__footer">
          Máy tính xách tay
        </p>
        <p class="title__child__footer">Dell</p>
        <p class="title__child__footer">Lenovo</p>
        <p class="title__child__footer">Legion</p>
        <p class="title__child__footer">Asus</p>
      </div>
      <div class="col-lg-3">
        <p class="title__footer">
          Điện thoại
        </p>
        <p class="title__child__footer">Galaxy</p>
        <p class="title__child__footer">Redmi</p>
        <p class="title__child__footer">Readme</p>
        <p class="title__child__footer">Oppo</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copy-right flex-50">
        Copyright © 2022 CheemsStore's.
      </div>
      <div class="icon-contact flex-50">
        <a href="https://www.facebook.com/dung.kunss.5">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_facebook.svg" alt="">
        </a>
        <a href="https://www.instagram.com/dungpront2001/">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_twiter.svg" alt="">
        </a>
        <a href="https://www.instagram.com/dungpront2001/">
          <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/ic_instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
