<div class="container border-shadow">
    <div class="d-flex">
      <div class="w-50">
        <app-slideshow-gallery [medias]="[]"></app-slideshow-gallery>
      </div>
      <div class="w-50 details-text">
        <div class="title">
          Hutao
        </div>
        <div class="rate">
          <i class="fa fa-star" style="color: yellow;"></i>
          <i class="fa fa-star" style="color: yellow;"></i>
          <i class="fa fa-star" style="color: yellow;"></i>
          <i class="fa fa-star" style="color: yellow;"></i>
          <i class="fa fa-star" style="color: yellow;"></i>
          <span>(22)</span>
        </div>
        <div class="product-price">
          $32.00 <span>$32.00</span>
        </div>
        <div class="description-short">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo neque odit quod quos odio, dignissimos
          voluptatum labore, fugit aliquam facere earum doloribus cupiditate voluptatem laborum. Quas assumenda quos
          earum veniam?
        </div>

        <div class="add-to-cart">
          <button class="cart-button">
            Thêm vào giỏ
          </button>
          <button class="cart-button">
            Mua ngay
          </button>
        </div>
        <div class="item-style">
          Loại: <span>ssss</span>
        </div>

        <div class="item-style">
          Tag: <span>ssss</span>
        </div>
      </div>
    </div>
  </div>
