.border-shadow {
  padding: 25px;
  background-color: #f9fafc;
  box-shadow: 0px 0px 25px 10px #ebe9f3;
  border-radius: 5px;
  margin-bottom: 30px;
  max-height: 60%;
}


.image-list::-webkit-scrollbar {
  display: none;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.details-text {
  margin-left: 50px;
  color: #151875;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #0d134e;
  }

  hr {
    border-top: 1px solid #0d134e;
    width: 80%;
  }

  .rate {
    margin-bottom: 30px;
  }

  .product-price {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 12px;
    text-transform: capitalize;
    span {
      text-decoration-line: line-through;
      color: #fb2e86;
    }
  }

  .description-short {
    font-size: 16px;
    line-height: 20px;
    color: #14194a;
  }

  .add-to-cart {
    margin-bottom: 20px;
    margin-top: 20px;
    .cart-button {
      font-size: 24px;
      line-height: 30px;
      padding: 10px 40px;
      border: 2px solid #0d134e;
      border-radius: 5px;
      color: #0d134e;
      background-color: white;
      margin-right: 20px;
    }

    .buy-now {
      background-color: #12184d;
      color: white;
    }

    .cart-button:hover {
      transform: scale(1.05);
    }

    i {
      font-weight: bold;
      color: #0d134e;
    }
  }

  .item-style {
    margin-bottom: 15px;
    span {
      color: #a9acc6;
    }
  }
}


.child-info {
  display: flex;
  padding: 12px 16px;
}

.info-text {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 400;
  text-decoration: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}
