<div class="product-details">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Chi tiết sản phẩm
      </div>
      <div class="title-route">
        Trang chủ. <span>Chi tiết sản phẩm</span>
      </div>
    </div>
  </div>

  <div class="m-common">
    <app-product-introduction></app-product-introduction>
    <app-product-description></app-product-description>
    <div class="related-product">
      <div class="container">
        <div class="title">
          Sản phẩm có liên quan
        </div>
        <div class="row">
          <app-property-card class="col-lg-3"></app-property-card>
          <app-property-card class="col-lg-3"></app-property-card>
          <app-property-card class="col-lg-3"></app-property-card>
          <app-property-card class="col-lg-3"></app-property-card>
        </div>
      </div>
    </div>
  </div>


</div>

