.d-flex {
  display: flex;
  flex-direction: row;
}



.related-product {
  .title {
    font-size: 34px;
    line-height: 38px;
    font-weight: bold;
    color: #101750;
    margin-bottom: 20px;
  }
}
