<div class="container-1">
  <ng-container *ngIf="medias.length == 0; else forMediasContent">
    <button class="mySlides" type="button" data-bs-toggle="modal" data-bs-target="#modalImage">
      <div class="numbertext">Hiện tại sản phẩm chưa có ảnh</div>
      <img class="img-show" src="./../../../../assets/images/no-image-beidou.png" style="width:100%">
    </button>
  </ng-container>


  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>

  <ng-container *ngIf="medias.length == 0; else forMediasBottom">
  <div class="row-img">
      <div class="column-img">
        <img class="demo cursor" src="./../../../../assets/images/no-image-beidou.png" style="width:100%" (click)="currentSlide(1)" alt="The Woods">
      </div>
    </div>
  </ng-container>
</div>


<ng-template #forMediasContent>
    <ng-container *ngFor="let media of medias; let i = index, let length = count">
      <button class="mySlides" type="button" data-bs-toggle="modal" data-bs-target="#modalImage" (click)="changeImgShowPath(media.filePath)">
        <div class="numbertext">{{ i+1 + "/" + length }}</div>
        <img class="img-show" [src]="media.filePath" onerror="this.src='./../../../../assets/images/no-image-beidou.png'" style="width:100%">
      </button>
    </ng-container>
    <ng-container *ngIf="medias.length > 1">
      <a class="prev" (click)="plusSlides(-1)">❮</a>
      <a class="next" (click)="plusSlides(1)">❯</a>
    </ng-container>
</ng-template>

<ng-template #forMediasBottom>
  <div class="row-img" *ngIf="medias.length > 1" [ngClass]="medias.length > 4 ? 'active-style-scroll' : ''">
    <ng-container *ngFor="let media of medias; let i = index, let length = count">
      <div class="column-img" [ngClass]="length == 2 ? 'flex-50': length == 3? 'flex-33': 'flex-25'">
        <img class="demo cursor" [src]="media.filePath" onerror="this.src='./../../../../assets/images/no-image-beidou.png'" style="width:100%" (click)="currentSlide(i+1)" [alt]="media.id">
      </div>
    </ng-container>
  </div>
</ng-template>

<div class="modal fade modal-lg" id="modalImage" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="modalLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="this.imageShowPath" style="width:100%">
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
