.list-card {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .item-style {
    flex: 0 0 25%;
    width: 25%;
    padding: 10px;
  }
}


@media screen and (max-width: 768px) {
  .list-card {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    .item-style {
      flex: 0 0 50%;
      width: 50%;
    }
  }
}
