<div class="container">
  <div class="status-icon">
    <img [src]="'/assets/images/' + this.icon_link">
  </div>
  <div class="order-preview">
    <div class="main">
      <div class="info">
        <label>Mã đơn: </label>
        <div class="text">Mã đơn hàng</div>
      </div>
      <div class="info">
        <label>Trạng thái: </label>
        <div class="text">trạng thái đơn</div>
      </div>
      <div class="info">
        <label>Ngày mua: </label>
        <div class="text">ngày mua hàng</div>
      </div>
    </div>
    <div class="sub">
      <div class="info">
        <label>Số lượng: </label>
        <div class="text">số sản phẩm mua</div>
      </div>
      <div class="info">
        <label>Tổng tiền: </label>
        <div class="text">tổng tiền đơn</div>
      </div>
    </div>
  </div>
</div>
