.container {
  margin: 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(0,0,0,.09);
  border-radius: 8px;
  flex: 1;
  cursor: pointer;

  .status-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .order-preview {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;

    .main {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      flex: 1;
      border-right: 2px solid rgba(0,0,0,.09);

      label {
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .sub {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      flex: 1;

      label {
        margin-top: 5px;
        cursor: pointer;
      }
    }
  }
}
