.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;

  .day-picker {
    flex-grow: 1;
    margin-right: 5px;
  }

  .month-picker {
    flex-grow: 1;
    margin-right: 5px;
  }

  .year-picker {
    flex-grow: 1;
  }
}

.picker {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .375rem;
}
