/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,-40px,0);
       opacity: 0;
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,100px,0);
       opacity: 0;
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}


@keyframes fadeIn {
  0% {
       opacity: 0;
  }

  100% {
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
       opacity: 0;
  }

  100% {
      opacity: 1
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


.animation-delay-1 {
  animation-delay: 1s;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
