:root {
  --color-1st: hsl(334, 96%, 58%);
  --color-1st-h: 334;
  --color-1st-s: 96%;
  --color-1st-l: 58%;
  --color-2nd: 	hsl(266, 74%, 54%);
  --color-2nd-h: 266;
  --color-2nd-s: 74%;
  --color-2nd-l: 54%;
  --color-success: hsl(80, 100%, 30%);
  --color-success-h: 80;
  --color-success-s: 100%;
  --color-success-l: 30%;
  --color-info: hsl(0, 0%, 85%);
  --color-info-h: 0;
  --color-info-s: 0%;
  --color-info-l: 85%;
  --color-warning: hsl(29, 98%, 57%);
  --color-warning-h: 29;
  --color-warning-s: 98%;
  --color-warning-l: 57%;
  --color-danger: hsl(1, 77%, 55%);
  --color-danger-h: 1;
  --color-danger-s: 77%;
  --color-danger-l: 55%;
  --color-border: hsl(214, 8%, 82%);
  --color-border-h: 214;
  --color-border-s: 8%;
  --color-border-l: 82%;
  --color-border-active: hsl(223, 10%, 52%);
  --color-border-active-h: 223;
  --color-border-active-s: 10%;
  --color-border-active-l: 52%;
  --color-text: hsl(0, 0%, 40%);
  --color-text-h: 0;
  --color-text-s: 0%;
  --color-text-l: 40%;
  --color-text-2: hsl(0, 0%, 60%);
  --color-text-2-h: 0;
  --color-text-2-s: 0%;
  --color-text-2-l: 60%;
  --color-heading: hsl(0, 0%, 0%);
  --color-heading-h: 0;
  --color-heading-s: 0%;
  --color-heading-l: 0%;
  --color-gray: hsl(0, 0%, 80%);
  --color-gray-h: 0;
  --color-gray-s: 0%;
  --color-gray-l: 80%;
  --color-bg-primary: hsl(202, 28%, 62%);
  --color-bg-primary-h: 202;
  --color-bg-primary-s: 28%;
  --color-bg-primary-l: 62%;
  --color-bg-gray: hsl(210, 10%, 96%);
  --color-bg-gray-h: 210;
  --color-bg-gray-s: 10%;
  --color-bg-gray-l: 96%;
  --border-radius-large: 8px;
  --border-radius-medium: 5px;
  --border-radius-small: 3px;
  --border-radius-tiny: 1px;
  --section-padding-top: 65px;
  --section-padding-bottom: 35px;
  --section-header-padding-bottom: 32px;
  --font-size-default: 16px;
  --input-height: 48px;
  --section-padding: 80px;
}

@media screen and (min-width: 1024px) {
  :root {
    --section-padding-top: 90px;
    --section-padding-bottom: 60px;
    --section-header-padding-bottom: 32px;
  }
}

@media screen and (min-width: 1366px) {
  :root {
    --section-padding-top: 130px;
    --section-padding-bottom: 100px;
    --section-header-padding-bottom: 65px;
  }
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}


.title-container {
  background-color: #F6F5FF;
  padding: 50px 0;
  .container {
    .title-text {
      font-size: 36px;
      font-weight: bold;
      line-height: 42px;
      color: #101750;
      margin-bottom: 8px;
    }

    .title-route {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      span {
        color: #FB2E86;
      }
    }
  }
}

.m-common {
  margin-top: 100px;
  margin-bottom: 100px;
}

.p-relative {
  position: relative;
}

.width-33 {
  width: 33%;
}
