<div class="login-container">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Login
      </div>
      <div class="title-route">
        Route. Page. <span>Login</span>
      </div>
    </div>
  </div>

  <div class="container m-common">
    <div class="login-content">
      <div class="login-title">Login</div>
      <div class="login-sub-title">
        Please login using account detail bellow.
      </div>
      <form>
        <div class="input-margin">
          <input class="form-control" type="text" placeholder="Email Address">
        </div>
        <div class="input-margin">
          <input class="form-control" type="text" placeholder="Password">
        </div>
        <div class="forgot-password">
          <a>
            Forgot your Password?
          </a>
        </div>
        <button type="submit" class="button-submit form-control">Login</button>
        <div class="no-account">
          Don't have an Account? <a>Create account</a>
        </div>
      </form>
    </div>
  </div>
</div>
