<div class="container m-common">
  <div class="hot-top">
    <div id="carousels" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousels" data-bs-slide-to="0" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#carousels" data-bs-slide-to="1" ></button>
        <button type="button" data-bs-target="#carousels" data-bs-slide-to="2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div>
            <img class="d-block w-100" src="./../../../../../assets/images/s22ultra_1_1280x720-800-resize.jpeg" alt="">
            <div class="black-opacity"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;">Galaxy S22</h1>
            <h3>Một bước đột phá mới</h3>
            <div class="d-flex" style="display: flex; justify-content: space-between;">
              <h5 style="width: 70%;  text-align: right;">
                Dòng sản phẩm hàng đầu của SamSung. Hãy sở hữu ngay hôm nay
              </h5>
              <div class="vertical-line"></div>
              <button class="details-button" style="width: 20%;">Khám phá</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div>
            <img class="d-block w-100" src="./../../../../../assets/images/mac_air_m2.jpg" alt="">
            <div class="black-opacity"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;">MacBook Air M2</h1>
            <h3>Thiết kế thay đổi ngoạn mục</h3>
            <div class="d-flex" style="display: flex; justify-content: space-between;">
              <h5 style="width: 70%; text-align: right;">
                Mang lại cảm giác cao cấp, sang trọng. Hãy sở hữu ngay hôm nay
              </h5>
              <div class="vertical-line"></div>
              <button class="details-button" style="width: 20%;">Chi tiết</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div>
            <img class="d-block w-100" src="./../../../../../assets/images/legion-5-pro.jpg" alt="">
            <div class="black-opacity"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1 style="font-weight: bold;">Legion 5 Pro</h1>
            <h3>Quái vật chiến game</h3>
            <div class="d-flex" style="display: flex; justify-content: space-between;">
              <h5 style="width: 70%;  text-align: right;">
                Thiết kế bắt mắt, hiệu năng siêu khủng. Hãy sở hữu ngay hôm nay
              </h5>
              <div class="vertical-line"></div>
              <button class="details-button" style="width: 20%;">Khám phá</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hot-delivery card">
      <img class="card-img-top" src="./../../../../../assets/images/shipping.jpg" alt="">
      <div class="card-body">
        <a routerLink="/product-details" style="text-decoration: none; color: #FB2E86;">
          <h3 class="card-title text-center">Miễn phí vận chuyển</h3>
        </a>
        <div class="card-text text-center">
          <div class="card-bar-icon">
            <div class="bar-icon" style="background: #FB2E86;"></div>
            <div class="bar-icon m-2" style="background: #05E6B7;"></div>
            <div class="bar-icon" style="background: #FFEAC1;"></div>
          </div>
          <p class="text-cost">
            Khi mua 5 sản phẩm trở lên.
          </p>
        </div>
      </div>
  </div>
</div>
