<div class="product-list">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Sản phẩm
      </div>
      <div class="title-route">
        Trang chủ. <span>Sản phẩm</span>
      </div>
    </div>
  </div>


  <div class="container m-common">
    <div class="sidebar-plus-content">
      <app-product-list-filter [items]="this.productListFilterViewData$ | async"></app-product-list-filter>
      <div class="page-content">
        <div class="sort-list">
          <div class="title">
            Sắp xếp theo
          </div>
          <button type="button" class="style-sort-button">
            Khuyến mãi tốt nhất
          </button>
          <button type="button" class="style-sort-button">
            Bán chạy
          </button>
          <button type="button" class="style-sort-button">
            Mới về
          </button>
          <button type="button" class="style-sort-button">
            Giá giảm dần
          </button>
          <button type="button" class="style-sort-button">
            Giá tăng dần
          </button>
        </div>

        <app-product-list-details [items]="this.productListDetailsViewData$ | async"></app-product-list-details>
      </div>
    </div>
  </div>
</div>

<!-- <input type="file" multiple class="form-control" (change)="saveFile($event)">
<button class="btn btn-primary" (click)="addFile()">Add</button>
 -->

