.list-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    .item-style {
      flex: 0 0 25%;
      width: 25%;
      padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .list-card {
      .item-style {
        flex: 0 0 50%;
        width: 50%;
      }
    }
  }
