<div class="container">
  <div class="hot-top" *ngIf="pageViewModel$ | async as pageViewModel">
    <div [id]="carouselsId" class="carousel slide" data-bs-ride="carousels">
      <div class="carousel-indicators" style="margin-bottom: -1rem;">
        <button type="button" *ngFor="let items of pageViewModel.itemShows; let idx = index;" [ngClass]="{'active': idx === 0 }"  class="button-bottom"
        [attr.data-bs-target]="'#'+ carouselsId" [attr.data-bs-slide-to]="idx"
          aria-current="true"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item"  *ngFor="let items of pageViewModel.itemShows; let idx = index;" [ngClass]="{'active': idx === 0 }">
            <div class="list-card">
                <div class="item-style" *ngFor="let it of items">
                  <app-property-card [items]="{ productType: it }">
                  </app-property-card>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
