<div class="login-container">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Đăng nhập
      </div>
      <div class="title-route">
        Trang chủ. <span>Đăng nhập</span>
      </div>
    </div>
  </div>

  <div class="container m-common">
    <div class="login-content">
      <div class="login-title">Đăng nhập</div>
      <div class="login-sub-title">
        Vui lòng nhập chi tiết tài khoản bên dưới.
      </div>
      <form>
        <div class="input-margin">
          <input class="form-control" type="text" placeholder="Địa chỉ Email">
        </div>
        <div class="input-margin">
          <input class="form-control" type="text" placeholder="Mật khẩu">
        </div>
        <div class="forgot-password">
          <a>
            Quên mật khẩu?
          </a>
        </div>
        <button type="submit" class="button-submit form-control">Đăng nhập</button>
        <div class="no-account">
          Bạn chưa có tài khoản? <a routerLink="/register">Tạo tài khoản</a>
        </div>
      </form>
    </div>
  </div>
</div>
