.container {
  margin-right: 1.6875rem;
  margin-left: 0px;
  max-width: 100%;
}

.personal-information {
  display: flex;
  padding: 1.25rem 0 3.125rem;

  .content {
    position: relative;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    margin-right: 1.6875rem;
    min-width: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: .125rem;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 4rem;
      border-bottom: 2px solid #efefef;
      background-color: #f6f5ff;

      .menu_button {
        background-color: transparent;
        border: 0;
        margin: 8px;
        border-radius: 25%;
        height: 80%;
      }

      .vertical-line {
        margin-right: 8px;
        border-right: 2px solid #efefef;
        height: 80%;
        width: 0;
      }

      .title {
        margin-left: 8px;
        position: relative;

        &__main {
          font-size: 25px;
        }

        &__sub {
          margin-top: 3px;
          font-size: 20px;
          line-height: 1.5rem;
        }
      }
    }

    .item {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .personal-information .content {
    margin-left: 0.6875rem;
    margin-right: 0.6875rem;
  }
}
