.d-flex {
  display: flex;
  justify-content: space-between;
}

.flex-width-60 {
  margin: 0 50px;
  flex: 0 0 50%;
  width: 60%;
}

.flex-width-40 {
  flex: 0 0 40%;
  width: 40%;
}

.list-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  .item-style {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 10px;
  }
}

.carousel-item {

  .content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f2f0ff;
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 500px;
    align-items: center;

    .description-text {
      z-index: 5;
      padding: 80px 50px;
      .title {
        font-weight: bold;
        font-size: 53px;
        line-height: 82px;
        color: white;
        z-index: 20;
      }

      .text {
        z-index: 5;
        padding-right: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
        color: white;
      }
    }

    .description-image {
      display: flex;
      align-items: center;
      justify-content: center;
      .circle {
        position: absolute;
        display: flex;
        border-radius: 50%;
        z-index: 10;
        right: 10%;
        top: 15%;
        background-color: rgba(90, 48, 112, 0.35);
        text-align: center;
        padding: 20px;
      }
    }
  }
}

.body-container {
  margin-top: 50px;
  .content {
    .title {
      margin-bottom: 20px;
      text-align: center;
      font-size: 38px;
      line-height: 42px;
      font-weight: bold;
      color: #1a0b5b;
    }
  }
}

.black-opacity {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(51, 36, 58, 0.35);
  opacity: 0.8;
  z-index: 2;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .list-card {
    .item-style {
      flex: 0 0 50%;
      width: 50%;
    }
  }
}
