<div class="home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 30px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="content">
          <div class="description-text flex-width-60">
              <div class="title">
                Bộ sưu tập "đồ" mới
                 Xu hướng năm 2022
              </div>
              <div class="text">
                Lorem ipsum dolor sit, officiis ea vel veritatis enim aspernatur? Soluta tempore id atque placeat aspernatur? Exercitationem tempore impedit, corrupti nobis officia cumque minus nisi!
              </div>
          </div>
          <div class="description-image flex-width-40">
            <div class="circle p-absolute">
            </div>
            <div class="circle p-absolute">
              <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/beidou-emoji.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="content">
          <div class="description-text flex-width-60">
              <div class="title">
                Bộ sưu tập "đồ" mới
                 Xu hướng năm 2023
              </div>
              <div class="text">
                Lorem ipsum dolor sit, officiis ea vel veritatis enim aspernatur? Soluta tempore id atque placeat aspernatur? Exercitationem tempore impedit, corrupti nobis officia cumque minus nisi!
              </div>
          </div>
          <div class="description-image flex-width-40">
            <div class="circle p-absolute">
            </div>
            <div class="circle p-absolute">
              <img src="https://dung-kun.github.io/cheems-angular-web/assets/images/beidou-emoji.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="content">
          <div class="description-text flex-width-60">
              <div class="title">
                Bộ sưu tập "đồ" mới
                 Xu hướng năm 2021
              </div>
              <div class="text">
                Lorem ipsum dolor sit, officiis ea vel veritatis enim aspernatur? Soluta tempore id atque placeat aspernatur? Exercitationem tempore impedit, corrupti nobis officia cumque minus nisi!
              </div>
          </div>
          <div class="description-image flex-width-40">
            <div class="circle p-absolute">
            </div>
            <div class="circle p-absolute">
              <img src="https://dung-kun.github.io/cheems-angular-web/images/beidou-emoji.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container body-container">
    <div class="content">
      <div class="title">
        Các ứng dụng nổi bật
      </div>
      <!-- <div class="list-card">
        <div class="item-style">
          <app-property-card>
          </app-property-card>
        </div>
        <div class="item-style">
          <app-property-card>
          </app-property-card>
        </div>
        <div class="item-style">
          <app-property-card>
          </app-property-card>
        </div>

        <div class="item-style">
          <app-property-card>
          </app-property-card>
        </div>
      </div> -->
    </div>
  </div>
</div>

