<div class="contact-us">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Liện hệ
      </div>
      <div class="title-route">
        Trang chủ. <span>Liên hệ</span>
      </div>
    </div>
  </div>


  <div class="container m-common">
    <div class="about-us">
      <div class="information-us flex-width">
        <div class="title">
          Về chúng tôi
        </div>
        <p class="content">
          Chúng tôi luôn cố gắng, cải thiện với phương châm “ khách hàng là thượng đế phải quan tâm đến trải nghiệm của
          khách hàng”. Vậy nên, chúng tôi đang ngày càng nỗ lực, ngày càng hoàn thiện bản thân để có thể phù hợp với
          khách hàng.
        </p>
      </div>
      <div class="contact-way flex-width">
        <div class="title">
          Cách thức liên hệ
        </div>
        <div class="content">
          <div class="circle" style="background-color: #5726DF;"></div>
          <div class="text" style="margin-right: 20px;">
            <div style="margin-bottom: 5px;">Tel: 0857550531</div>
            <div>E-Mail: 19521399@gmail.com</div>
          </div>

          <div class="circle" style="background-color: #FB2E86;"></div>
          <p class="text">KTX khu A - Dong Hoa Di An Binh Duong</p>
        </div>

      </div>
    </div>

    <div class="get-in-touch">
      <div class="flex-width" style="padding: 20px 0;">
        <div class="title">
          Liên lạc
        </div>
        <div class="content" style="margin-bottom: 20px;">
          Nếu như bạn đang muốn tìm một công ty quan tâm đến cảm nhận của khách hàng, luôn muốn khách hàng có những trải
          nghiệm tuyệt vời, tốt nhất thì bạn có thể đến liên lạc với chúng tôi
        </div>
        <form>
          <div class="d-flex">
            <input class="form-control" style="margin-right: 20px;" type="text" placeholder="Tên của bạn">
            <input class="form-control" type="text" placeholder="Email của bạn">
          </div>
          <input class="form-control" type="text" placeholder="mục">
          <textarea class="form-control" name="" id="" cols="30" rows="4" placeholder="Tin nhắn của bạn*"></textarea>
          <button class="form-control">Gửi Mail</button>
        </form>
      </div>

      <div class="flex-width">
        <img style="width: 90%;" src="https://dung-kun.github.io/cheems-angular-web/assets/images/contact-us-image.jpg"
          alt="">
      </div>
    </div>
  </div>
</div>
