.fade-in-out {
  opacity: 1;
  transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, transform 300ms linear;
  transition: opacity 300ms linear, transform 300ms linear,
    -webkit-transform 300ms linear;
}
