<div class="container">
  <div class="address-information">

    <!-- Tỉnh/Thành phố -->
    <div class="row mb-3 mt-3 input-wrapper">
      <div class="col-lg-3 input_title">
        <label class="form-label">Tỉnh/Thành phố</label>
      </div>
      <div class="col-lg-9">
        <input type="text" class="input-style" placeholder="Tỉnh/Thành phố">
      </div>
    </div>

    <!-- Quận/Huyện -->
    <div class="row mb-3 mt-3 input-wrapper">
      <div class="col-lg-3 input_title">
        <label class="form-label">Quận/Huyện</label>
      </div>
      <div class="col-lg-9">
        <input type="text" class="input-style" placeholder="Quận/Huyện">
      </div>
    </div>

    <!-- Phường/Xã -->
    <div class="row mb-3 mt-3 input-wrapper">
      <div class="col-lg-3 input_title">
        <label class="form-label">Phường/Xã</label>
      </div>
      <div class="col-lg-9">
        <input type="text" class="input-style" placeholder="Phường/Xã">
      </div>
    </div>

    <!-- Số nhà -->
    <div class="row mb-3 mt-3 input-wrapper">
      <div class="col-lg-3 input_title">
        <label class="form-label">Số nhà</label>
      </div>
      <div class="col-lg-9">
        <input type="text" class="input-style" placeholder="số nhà">
      </div>
    </div>

  </div>
</div>
