@import './assets/css/root-style.scss';

@import './assets/css/font-style.scss';

@font-face {
  font-family: 'Josefin Sans';
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Regular.ttf);
}
/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #0D0E43;
  line-height: 19px;
}

svg:not(:root) {
  overflow: hidden;
}
