<div class="checkout">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Thủ tục thanh toán
      </div>
      <div class="title-route">
        Route. Shopping Cart. <span>Thủ tục thanh toán</span>
      </div>
    </div>
  </div>
  <div class="container m-common">
    <main class="main-content">
      <div class="fade-in-out">
        <div class="overview-sections">
          <section role="button" tabindex="0" class="section-container" aria-disabled="false">
            <h2 class="heading-style">
              <span class="font-style-20" style="font-weight: 600;">Thông tin của tôi</span>
            </h2>
            <div class="w-100">
              <div class="collapse-animation" role="region"
                style="display: block; height: auto; opacity: 1; overflow: hidden;">
                <div class="fade-in-out">
                  <form class="" novalidate>
                    <div class="mb-15">
                      <p class="body-text"><span>Email</span></p>
                      <p class="body-text" style="margin: 0px;">uchihadungkitty@gmail.com</p>
                    </div>
                    <div class="form-input">
                      <div class="mb-15">
                        <div class="label-wrapper">
                          <label class="label-style" for="firstName">
                            Tên của bạn</label>
                        </div>
                        <div class="p-relative">
                          <div class="input-wrapper">
                            <input class="input-style" required type="text" id="firstName" name="firstName">
                            <span class="validation-icon icon icon-valid" title="Field is valid"
                              style="height: 48px;"></span>
                          </div>
                          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                            <path
                              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                            </path>
                          </svg>
                        </div>

                      </div>
                      <div class="mb-15">
                        <div class="label-wrapper">
                          <label class="label-style" for="dateOfBirth">
                            Ngày sinh</label>
                        </div>

                        <div class="p-relative">
                          <div class="input-wrapper date-input-wrapper">
                            <input aria-label="MM" required name="month" type="number" pattern="\d*"
                              class="input-style date-input-style" placeholder="DD" id="dateOfBirth" maxlength="2">
                            <span>/</span>
                            <input aria-label="DD" required name="day" type="number" pattern="\d*"
                              class="input-style date-input-style" placeholder="MM" maxlength="2">
                            <span>/</span>
                            <input aria-label="YYYY" required name="year" type="number" pattern="\d*"
                              class="input-style date-input-style" placeholder="YYYY" maxlength="4">
                          </div>
                          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                            <path
                              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                            </path>
                          </svg>
                        </div>
                      </div>
                      <div class="mb-15">
                        <div class="label-wrapper">
                          <label class="label-style" for="address">
                            Địa chỉ</label>
                        </div>
                        <div class="p-relative">
                          <div class="input-wrapper">
                            <textarea class="input-style" style="height: 144px;" required rows="3" cols="3" id="address"
                              name="address"></textarea>
                            <span class="validation-icon icon icon-valid" title="Field is valid"
                              style="height: 48px;"></span>
                          </div>
                          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                            <path
                              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                            </path>
                          </svg>
                        </div>

                      </div>
                      <div class="mb-15">
                        <div class="label-wrapper">
                          <label class="label-style" for="firstName">
                            Số điện thoại</label>
                        </div>
                        <div class="p-relative">
                          <div class="input-wrapper">
                            <input class="input-style" required type="text" id="sdt" name="sdt">
                            <span class="validation-icon icon icon-valid" title="Field is valid"
                              style="height: 48px;"></span>
                          </div>
                          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                            <path
                              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                            </path>
                          </svg>
                        </div>

                      </div>
                    </div>
                    <div class="button-container">
                      <button class="button-style" type="submit"><span>Lưu</span></button>
                      <button class="button-cancel-style" type="button">
                        <svg class="icon-cancel-style" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                          <path
                            d="M12 11.29L21.29 2l.71.71L12.71 12 22 21.29l-.71.71L12 12.71 2.71 22 2 21.29 11.29 12 2 2.71 2.71 2 12 11.29z">
                          </path>

                        </svg><span>Hủy</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

          <section role="button" tabindex="0" class="section-container" aria-disabled="false">
            <h2 class="heading-style">
              <span class="font-style-20" style="font-weight: 600;">Phương thức vận chuyển</span>
            </h2>
            <div class="mb-15" style="width: 100%;">
              <ul class="shipping-select">
                <ng-container *ngFor="let a of [1,2,3]">
                  <li>
                    <button type="button" class="button-non-border color-2" (click)="chooseShipping(a)">
                      <span class="item">
                        <ng-container *ngIf="checkShippingChoose == a; else anotherShipping">
                          <svg class="color-1" style="height: 24px;" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            focusable="false">
                            <path
                              d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 1a9 9 0 100 18 9 9 0 000-18zm0 2a7 7 0 110 14 7 7 0 010-14z"
                              fill="#fb2e86"
                              >
                            </path>
                          </svg>
                        </ng-container>
                        <span class="font-style-14" style="margin-left: 16px; flex-shrink: 1;">
                          <div class="font-style-16 color-2" style="font-weight: bold; margin-bottom: 5px;">Vận chuyển
                            chậm + {{a}}</div>
                          0 VND<span class="color-2" role="separator"> · </span>5-10 ngày
                        </span>
                      </span>
                    </button>
                  </li>
                </ng-container>
              </ul>
              <div class="button-container">
                <button class="button-style" type="submit"><span>Chọn</span></button>
              </div>
            </div>
          </section>

          <section role="button" tabindex="0" class="section-container" aria-disabled="false">
            <h2 class="heading-style">
              <span class="font-style-20" style="font-weight: 600;">Phương thức thanh toán</span>
            </h2>
            <div class="mb-15" style="width: 100%;">
              <ul class="shipping-select">
                <ng-container *ngFor="let a of [1,2,3]">
                  <li [ngClass]="checkShippingChoose == a? 'li-selected' : '' ">
                    <button type="button" class="button-non-border color-2" (click)="chooseShipping(a)">
                      <span class="item">
                        <ng-container *ngIf="checkShippingChoose == a; else anotherShipping">
                          <svg class="color-1" style="height: 24px;padding-left: 10px;" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            focusable="false">
                            <path
                              d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 1a9 9 0 100 18 9 9 0 000-18zm0 2a7 7 0 110 14 7 7 0 010-14z"
                              fill="#fb2e86"
                              >
                            </path>
                          </svg>
                        </ng-container>
                        <span class="font-style-14" style="margin-left: 16px; flex-shrink: 1;">
                          <div class="font-style-16 color-2" style="font-weight: bold; margin-bottom: 5px;">Thẻ ngân hàng + {{a}}</div>
                        </span>
                      </span>
                    </button>
                  </li>
                  <ng-container *ngIf="checkShippingChoose == a">
                    <ng-container *ngTemplateOutlet="bankCard"></ng-container>
                  </ng-container>
                </ng-container>
              </ul>

              <div class="button-container">
                <button class="button-style" type="submit"><span>Chọn</span></button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <aside class="sidebar-container">
      <div class="pt-15 pb-15 px-24">
        <div class="d-flex mb-15" style="border-bottom: 1px solid #d0d0d0;">
          <p class="font-style-16" style="flex: 1; font-weight: 600;">
            <span>Giảm giá</span>
          </p>
          <a class="font-style-16 color-1" type="button" style="flex: 1; text-align: right;">
            <span>Thêm mã giảm giá</span>
          </a>
        </div>
        <div class="fade-in-out">
          <table>
            <tbody class="font-style-14">
              <tr>
                <th class="py-1 color-text-gray text-start">
                  Vật phẩm
                </th>
                <td class="py-1 text-end">
                  (VNĐ)99.00
                </td>
              </tr>
              <tr>
                <th class="py-1  color-text-gray text-start">
                  Vật phẩm
                </th>
                <td class="py-1 text-end">
                  (VNĐ)99.00
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="mt-1 pt-1 pb-3">
                <th class="py-2 text-start" style="border-top: 1px solid #222;">
                  Tổng</th>
                <td class="py-2 text-end" style="border-top: 1px solid #222;">
                  (VNĐ)79.20 </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="fade-in-out">
          <p class="">Chúng tôi sẽ xử lý dữ liệu cá nhân của bạn theo CheemsStore's
            <a class="font-style-16 color-1" tabindex="0" type="button">Privacy Notice</a>.
          </p>
          <p class="BodyText-module--general__2yKZb">Để tiếp tục, bạn phải đồng ý với
            <a class="font-style-16 color-1" tabindex="0" type="button">các điều khoản chung
            </a>
            của chúng tôi.
          </p>
          <p class="BodyText-module--general__tc7rJ"><span>Xin lưu ý rằng số thuế chỉ là ước tính và số tiền cuối cùng
              có
              thể thay đổi. Nếu thuế ước tính được trình bày dưới dạng TBD, giá trị đơn đặt hàng không bao gồm bất kỳ
              khoản thuế nào và sẽ được cộng thêm khi các mặt hàng được vận chuyển.</span>
          </p>

          <button class="button-style my-4">Thanh toán</button>
          <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2">
            <div class="CustomerServiceInfo--container__2J2io">
              <h3 class="sub-sub-heading light">Dịch vụ chăm sóc khách hàng</h3>
              <p class="text">Nếu bạn cần giúp đỡ? Làm ơn liên hệ với chúng tôi <a class="font-style-16 color-1"
                  routerLink="/contact-us">Dịch vụ chăm sóc khách hàng</a>.<br>
                Nếu có câu hỏi nào, hãy nhắn tin với chúng tôi!.</p>
            </div>
          </div>
        </div>
      </div>
    </aside>

  </div>
</div>


<ng-template #anotherShipping>
  <svg class="icon-style-1" style="height: 24px;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
    <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-1a9 9 0 100-18 9 9 0 000 18z">
    </path>
  </svg>
</ng-template>


<ng-template #bankCard>
  <form style="margin-top: 20px;padding: 20px; transition: height 300ms ease,opacity 300ms ease-in-out;">
    <div class="form-input">
      <div class="mb-15">
        <div class="label-wrapper">
          <label class="label-style" for="firstName">
            Tên của bạn</label>
        </div>
        <div class="p-relative">
          <div class="input-wrapper">
            <input class="input-style" required type="text" id="firstName" name="firstName">
            <span class="validation-icon icon icon-valid" title="Field is valid"
              style="height: 48px;"></span>
          </div>
          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
            <path
              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
            </path>
          </svg>
        </div>

      </div>
      <div class="mb-15">
        <div class="label-wrapper">
          <label class="label-style" for="dateOfBirth">
            Số thẻ</label>
        </div>

        <div class="p-relative">
          <div class="input-wrapper">
            <input class="input-style" required type="text" id="firstName" name="firstName">
            <span class="validation-icon icon icon-valid" title="Field is valid"
              style="height: 48px;"></span>
          </div>
          <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
            <path
              d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
            </path>
          </svg>
        </div>
      </div>

      <div class="mb-15 d-flex">
        <div style="margin-right: 10px; width: 49%;">
          <div class="label-wrapper">
            <label class="label-style" for="firstName">
              Ngày hết hạn</label>
          </div>
          <div class="p-relative">
            <div class="input-wrapper">
              <input class="input-style" required type="text" id="sdt" name="sdt">
              <span class="validation-icon icon icon-valid" title="Field is valid"
                style="height: 48px;"></span>
            </div>
            <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
              <path
                d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
              </path>
            </svg>
          </div>
        </div>
        <div style="width: 49%;">
          <div class="label-wrapper">
            <label class="label-style" for="firstName">
              CVV/CVC</label>
          </div>
          <div class="p-relative">
            <div class="input-wrapper">
              <input class="input-style" required type="text" id="sdt" name="sdt">
              <span class="validation-icon icon icon-valid" title="Field is valid"
                style="height: 48px;"></span>
            </div>
            <svg class="icon-style" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
              <path
                d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
