<div class="checkout">
  <div class="title-container">
    <div class="container">
      <div class="title-text">
        Checkout
      </div>
      <div class="title-route">
        Route. Shopping Cart. <span>Checkout</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <main class="main-content" aria-live="polite" aria-busy="false">
    <div class="fade-in-out">
      <div class="overview-sections">
        <section role="button" tabindex="0" class="section-container" aria-disabled="false">
          <h2 class="heading-style">
            <span>My Information</span>
          </h2>
          <div class="w-100">
            <div aria-hidden="false" class="collapse-animation" role="region"
              style="display: block; height: auto; opacity: 1; overflow: hidden;">
              <div class="fade-in-out">
                <form class="" novalidate>
                  <div class="mb-15">
                    <p class="body-text"><span>Email</span></p>
                    <p class="body-text" style="margin: 0px;">uchihadungkitty@gmail.com</p>
                  </div>
                  <div class="form-input">
                    <div class="mb-15">
                      <div class="label-wrapper">
                        <label class="label-style" for="firstName">
                          First name</label>
                      </div>
                      <div class="p-relative">
                        <div class="input-wrapper">
                          <input class="input-style" required type="text" id="firstName" name="firstName"
                            value="COn">
                            <span class="validation-icon icon icon-valid" title="Field is valid"
                            style="height: 48px;"></span>
                          </div>
                          <svg class="icon-style"
                          viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                          <path
                            d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                          </path>
                        </svg>
                      </div>

                    </div>
                    <div class="mb-15">
                      <div class="label-wrapper">
                        <label class="label-style" for="firstName">
                          Last name</label>
                      </div>
                      <div class="p-relative">
                        <div class="input-wrapper">
                          <input class="input-style" required type="text" id="firstName" name="firstName"
                            value="COn">
                            <span class="validation-icon icon icon-valid" title="Field is valid"
                            style="height: 48px;"></span>
                          </div>
                          <svg class="icon-style"
                          viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                          <path
                            d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                          </path>
                        </svg>
                      </div>

                    </div>
                    <div class="mb-15">
                      <div class="label-wrapper">
                        <label class="label-style" for="firstName">
                          Day Of Birth</label>
                      </div>

                      <div class="p-relative">
                        <div class="input-wrapper date-input-wrapper">
                          <input aria-label="MM"
                            required name="month" type="number" pattern="\d*"
                            class="input-style date-input-style" placeholder="DD" id="dateOfBirth" maxlength="2"
                            value="11">
                            <span>/</span>
                            <input aria-label="DD" required name="day"
                            type="number" pattern="\d*" class="input-style date-input-style" placeholder="MM"
                            maxlength="2" value="11">
                            <span>/</span>
                            <input aria-label="YYYY"
                            required name="year" type="number" pattern="\d*" class="input-style date-input-style"
                            placeholder="YYYY" maxlength="4" value="2001">
                        </div>
                        <svg
                          class="icon-style"
                          viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                          <path
                            d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                          </path>
                        </svg>
                      </div>
                    </div><button
                      class="CTA-module--action__3u4Lb CTA-module--medium__3OtCb CTA-module--reset__3Jrq5 ToggleFieldsLink-module--toggleFieldContainer__1_-RC"
                      type="button"><svg class="IconWrapper-module--icon__3Axc5 IconWrapper-module--normal__61od4"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                        <path d="M12 14.9l4.95-4.95.707.707-4.95 4.95-.707.707-5.657-5.657.707-.707L12 14.9z"></path>
                      </svg>Add phone number (optional)</button>
                    <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2"><button
                        type="button" class="CollapseContent-module--toggle__2XNXK FieldList--toggleHide__JBKgU"
                        aria-expanded="false" aria-disabled="false">Toggle Content</button></div>
                    <div aria-hidden="true" hidden=""
                      class="CollapseContent-module--collapse__VQ8OU CollapseContent-module--collapseAnim__2u2lG"
                      role="region" style="display: none; height: 0px; opacity: 0;">
                      <div class=""><label class="FormLabel-module--label__1Lol5" for="cellPhone">Phone number</label>
                        <div class="PhoneNumber--countrySelect__2raFO FieldList--collapsedInput__1uCtn">
                          <div class="Field-module--childWrapper__Rpmaa Field-module--valid__1tIMF">
                            <div><svg
                                class="IconWrapper-module--icon__2Xg1f Select-module--chevronDown__3oqU1 IconWrapper-module--normal__2pGtD"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                                <path d="M12 14.9l4.95-4.95.707.707-4.95 4.95-.707.707-5.657-5.657.707-.707L12 14.9z">
                                </path>
                              </svg></div><svg
                              class="IconWrapper-module--icon__2Xg1f ValidationIcon-module--validationIcon__84v1S ValidationIcon-module--selectMode__M388C ValidationIcon-module--checkmark__2ZDRw IconWrapper-module--small__2rAlV"
                              viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" data-testid="checkmarkIcon">
                              <path
                                d="M5.938 12.979L5.92 13l-.002-.001V13l-.02-.018L2 9.762 2.653 9l3.19 2.635L13.263 4l.737.684-8.062 8.295z">
                              </path>
                            </svg>
                          </div><span class="BodyText-module--general__2yKZb Field-module--underFieldText__3ql74"
                            aria-live="polite"></span>
                        </div>
                      </div>
                    </div>
                    <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2"><button
                        type="button" class="CollapseContent-module--toggle__2XNXK FieldList--toggleHide__JBKgU"
                        aria-expanded="false" aria-disabled="false">Toggle Content</button></div>
                    <div aria-hidden="true" hidden=""
                      class="CollapseContent-module--collapse__VQ8OU CollapseContent-module--collapseAnim__2u2lG"
                      role="region" style="display: none; height: 0px; opacity: 0;">
                      <div class="">
                        <div class="PhoneNumber--phoneNumberInputWrap__2zsFX FieldList--collapsedInput__1uCtn">
                          <div class="PhoneNumber--FieldWrap__3-BM9">
                            <div class="Field-module--childWrapper__Rpmaa">
                              <div class="Input-module--input__3CRWW"><input class="BaseInput-module--input__DA8R_"
                                  autocomplete="tel-national" aria-required="false" type="tel" id="cellPhone"
                                  name="cellPhone" value="" style="margin: 0px; padding-left: 76px; width: 100%;">
                              </div>
                            </div>
                          </div>
                          <div
                            class="BodyText-module--general__tc7rJ PhoneNumber--countryCodeDisplay__X6V0i BodyText-module--preamble__3V4jP">
                            +1</div>
                        </div>
                      </div>
                    </div>
                    <div class="CountrySelectorFields--container__HaH-u">
                      <div class="CountrySelectorFields--countrySelector__2wi1J">
                        <p class="BodyText-module--general__tc7rJ"><span>MARKET</span></p><button
                          class="CTA-module--action__3u4Lb CTA-module--medium__3OtCb CTA-module--reset__3Jrq5 CTA-module--inline__XtnFI CountrySelectorFields--countryLink__2X_AY"
                          type="button">USA</button>
                      </div>
                    </div>
                  </div>
                  <div class="CheckoutForm--buttonContainer__k6rcy"><button
                      class="CTA-module--action__3hGPH CTA-module--medium__dV8ar CTA-module--primary__3hPd- CTA-module--fullWidth__1GZ-5"
                      data-testid="submitButton" type="submit"><span>Save</span></button><button
                      class="CTA-module--action__3u4Lb CTA-module--medium__3OtCb CTA-module--primary__2vO6- CTA-module--reset__3Jrq5 CTA-module--fullWidth__vCv66 CTA-module--iconPosition-start__1GYjG CancelButton--cancelButton__2z7kI"
                      type="button"><svg class="IconWrapper-module--icon__3Axc5 IconWrapper-module--small__2SCWO"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                        <path
                          d="M12 11.29L21.29 2l.71.71L12.71 12 22 21.29l-.71.71L12 12.71 2.71 22 2 21.29 11.29 12 2 2.71 2.71 2 12 11.29z">
                        </path>
                      </svg><span>Cancel</span></button></div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section role="button" tabindex="0"
          class="InformationSection--container__2i4gF InformationSection--clickable__beGDt" aria-disabled="false">
          <h2 class="Heading-module--general__2dfw7 InformationSection--label__2MSD8 Heading-module--small__Vpb1C">
            <span>Billing address</span>
          </h2><svg class="IconWrapper-module--icon__3Axc5 IconWrapper-module--small__2SCWO" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
            <path
              d="M9.333 14.667v.666H0v-.666h9.333zm4.982-14c.17 0 .34.064.471.194l.943.944c.26.26.26.682 0 .942l-9.643 9.644a.56.56 0 0 1-.206.142l-2.075.707s-.073.018-.11.018a.362.362 0 0 1-.362-.361c0-.028.01-.088.01-.088l.713-2.108a.821.821 0 0 1 .144-.196L13.844.86c.13-.13.3-.194.47-.194zM4.43 11.677l-.246.73.727-.248-.481-.482zm8.457-8.917l-8.215 8.217.942.942 8.216-8.216-.943-.943zm1.428-1.427l-.957.956.944.943.956-.956-.943-.943z">
            </path>
          </svg>
          <div class="InformationSection--content__3LIMt">
            <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2"><button type="button"
                class="CollapseContent-module--toggle__2XNXK InformationSection--toggle__21fp5 " aria-expanded="false"
                aria-disabled="false"><span
                  class="BodyText-module--general__2yKZb ScreenReaderOnlyText-module--container__12-st BodyText-module--meta__12zVc"><span>Billing
                    address</span></span>
                <p class="BodyText-module--general__tc7rJ BodyText-module--marginless__214ql" data-tracking-pii="true">
                  COn Cac</p>
                <address class="BodyText-module--general__tc7rJ Address-module--container__3RB5A"
                  data-tracking-pii="true">Ho Chi Minh
                  UIT District of Columbia
                  87212
                  USA</address>
              </button></div>
            <div aria-hidden="true" hidden=""
              class="CollapseContent-module--collapse__VQ8OU CollapseContent-module--collapseAnim__2u2lG" role="region"
              style="display: none; height: 0px; opacity: 0;">
              <div class=""></div>
            </div>
          </div>
        </section>
        <section role="button" tabindex="0"
          class="InformationSection--container__2i4gF InformationSection--disabled__3UQQG" aria-disabled="true">
          <h2 class="Heading-module--general__2dfw7 InformationSection--label__2MSD8 Heading-module--small__Vpb1C">
            <span>Shipping</span>
          </h2>
          <div class="InformationSection--content__3LIMt">
            <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2"><button type="button"
                disabled=""
                class="CollapseContent-module--toggle__2XNXK InformationSection--toggle__21fp5 InformationSection--disabled__3UQQG"
                aria-expanded="false" aria-disabled="true"><span
                  class="BodyText-module--general__2yKZb ScreenReaderOnlyText-module--container__12-st BodyText-module--meta__12zVc"><span>Shipping</span></span></button>
            </div>
            <div aria-hidden="true"
              class="CollapseContent-module--collapse__VQ8OU CollapseContent-module--collapseAnim__2u2lG" role="region"
              style="display: none; height: 0px; opacity: 0;" hidden="">
              <div class=""></div>
            </div>
          </div>
        </section>
      </div>
      <section class="CheckoutOverview--thumbnailsSection__1otGQ">
        <header class="ProductThumbnails--headingContainer__2xfBg">
          <h2 class="Heading-module--general__2dfw7 Heading-module--medium__18h30 Heading-module--marginless__PbC6I">
            <span>View order details</span>
          </h2>
          <p class="BodyText-module--general__tc7rJ ProductThumbnails--metaTextColor__1nQ59"><span>1 items</span></p>
        </header>
        <ul class="ProductThumbnailListWithDelete--productThumbnailList__2_NyA">
          <li class="ProductThumbnailListWithDelete--productThumbnail__3lhRv"><button type="button"
              class="ProductThumbnailListWithDelete--productThumbnailButton__aFB__"
              data-testid="productThumbnailButton"><span class="ProductThumbnail-module--container__3rwdt"><span
                  class="ProductThumbnail-module--container__3rwdt"><span
                    class="Image-module--imageWrapper__2DvkJ ProductThumbnail-module--image__1aoQ1"><img
                      class="Image-module--image__1qc76" alt="Corduroy Puffer Jacket"
                      src="https://lp2.hm.com/hmgoepprod%3Fset%3Dsource%5B%2F03%2Fb6%2F03b68a8063cacef9d1247d45db7293dd59fd405b.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D%26call%3Durl%5Bfile%3A%2Fproduct%2Fmobilecart%5D"></span></span></span></button><button
              class="CTA-module--action__3u4Lb CTA-module--small__1C9kJ CTA-module--iconPosition-start__1GYjG IconButton-module--iconButton__1frOB ProductThumbnailListWithDelete--deleteIconButton__28rQ7"
              type="button"><span class="ProductThumbnailListWithDelete--deleteIconBackground__Se2wg"><svg
                  class="IconWrapper-module--icon__3Axc5 IconWrapper-module--small__2SCWO" viewBox="0 0 14 16"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                  <path fill-rule="evenodd"
                    d="M14 4v1h-1v10.455c0 .3-.224.545-.5.545h-11c-.276 0-.5-.244-.5-.545V5H0V4h14zm-2 1v10H2V5h10zM9.5 0a.5.5 0 01.5.5V2h4v1H0V2h4V.5a.5.5 0 01.5-.5h5zM9 1H5v1h4V1zM5 8h1v4H5V8zm3 0h1v4H8V8z">
                  </path>
                </svg></span><span
                class="BodyText-module--general__2yKZb ScreenReaderOnlyText-module--container__2mGga BodyText-module--meta__12zVc">Remove</span></button>
          </li>
        </ul>
      </section>
      <div class="CheckoutOverview--informationSectionsGroup__1SAIz">
        <section role="button" tabindex="0"
          class="InformationSection--container__2i4gF InformationSection--disabled__3UQQG" aria-disabled="true">
          <h2 class="Heading-module--general__2dfw7 InformationSection--label__2MSD8 Heading-module--small__Vpb1C">
            <span>Payment</span>
          </h2>
          <div class="InformationSection--content__3LIMt">
            <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2"><button type="button"
                disabled=""
                class="CollapseContent-module--toggle__2XNXK InformationSection--toggle__21fp5 InformationSection--disabled__3UQQG"
                aria-expanded="false" aria-disabled="true"><span
                  class="BodyText-module--general__2yKZb ScreenReaderOnlyText-module--container__12-st BodyText-module--meta__12zVc"><span>Payment</span></span></button>
            </div>
            <div aria-hidden="true" hidden=""
              class="CollapseContent-module--collapse__VQ8OU CollapseContent-module--collapseAnim__2u2lG" role="region"
              style="display: none; height: 0px; opacity: 0;">
              <div class="">
                <h3 class="Heading-module--general__2dfw7 Heading-module--xsmall__1mwlo" id="payment-methods"><span>How
                    would you like to pay?</span></h3><button class="AddGiftCard--button__HAPYW" type="button"><span
                    class="BodyText-module--general__tc7rJ AddGiftCard--label__2wPin"><span>Add gift
                      cards</span></span><svg
                    class="IconWrapper-module--icon__3Axc5 AddGiftCard--icon__cHVHK IconWrapper-module--normal__61od4"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    focusable="false">
                    <path
                      d="M20.8 6.4h-1c1-.6 1.6-1.2 1.8-1.9.2-.6 0-1.3-.7-1.9-.9-.6-1.7-.8-2.4-.5-.8.3-1.3 1.2-1.7 2.6-.9-1.5-1.7-2.3-2.6-2.4-.7-.1-1.3.2-1.9.9-.5 1-.6 1.8-.2 2.4.2.3.5.6.9.8H3C1.7 6.4.6 7.6.6 9v10.4c0 1.4 1.2 2.6 2.6 2.6h17.7c1.4 0 2.6-1.2 2.6-2.6V9c-.1-1.4-1.2-2.6-2.7-2.6zM19 3.1c.1-.1.2-.1.3-.1.3 0 .6.1 1 .4.5.5.4.8.4.9-.1.4-.6 1.1-2.9 1.9l-.1-.1c.4-2.3 1-2.9 1.3-3zm-5.9 2c-.1-.3-.1-.8.2-1.3.4-.4.6-.5.8-.5h.1c.4 0 1.2.5 2.3 2.8-2.5-.1-3.2-.7-3.4-1zm9.3 14.3c0 .9-.7 1.6-1.6 1.6H3.2c-.9 0-1.6-.7-1.6-1.6V9c0-.9.7-1.6 1.6-1.6h13L14 9.6l.7.7 1.9-1.9v12.3h1V8.2l2.5 1.9.6-.8-2.4-1.8h2.4c.9 0 1.6.7 1.6 1.6v10.3z">
                    </path>
                    <path d="M9.1 12.3c-.1-.1-2-1.9-3.2-.4C4.2 14 9 17.7 9 17.7s4.9-3.8 3.2-5.8c-1.2-1.4-3 .3-3.1.4z">
                    </path>
                  </svg><span class="BodyText-module--general__tc7rJ AddGiftCard--numOfCards__1Wuu5"></span></button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <aside class="SideBar--container__3I_SQ">
    <div
      class="paddings-module--p-top-s__24sfk paddings-module--p-right-m__CdYQ4 paddings-module--p-bottom-s__7JpXz paddings-module--p-left-m__17OGA SideBar--sideBarContent__31DYw">
      <div
        class="paddings-module--p-top-none__2c2GC paddings-module--p-right-none__1Rk01 paddings-module--p-bottom-s__7JpXz paddings-module--p-left-none__d9r6r VouchersModalTrigger--container__3ZKxD">
        <div class="VouchersModalTrigger--voucherContainer__3d-Zr">
          <p class="BodyText-module--general__tc7rJ VouchersModalTrigger--label__3qmlu"><span>Discounts</span></p>
          <button
            class="CTA-module--action__3u4Lb CTA-module--medium__3OtCb CTA-module--reset__3Jrq5 VouchersModalTrigger--cta__1ERJ8 VouchersModalTrigger--link__1MM8p"
            type="button"><span>Apply discount</span></button>
        </div>
      </div>
      <div class="FadeIn-module--container__3nvOo undefined"
        style="animation-duration: 300ms; animation-delay: 0ms; animation-name: FadeIn-module--fadeIn__3xhm6;">
        <table class="OrderTotal-module--container__1op_1">
          <tbody class="TableBody-module--tableBody__3HwOK">
            <tr>
              <th
                class="BodyText-module--general__2yKZb TableBody-module--th__2Z3zX TableBody-module--tableBodyText__sUB08 TableBody-module--lightText__NoZU3">
                Order value</th>
              <td
                class="BodyText-module--general__2yKZb TableBody-module--td__1BD2M TableBody-module--tableBodyText__sUB08">
                $99.00</td>
            </tr>
            <tr>
              <th
                class="BodyText-module--general__2yKZb TableBody-module--th__2Z3zX TableBody-module--tableBodyText__sUB08 TableBody-module--lightText__NoZU3">
                Promotion</th>
              <td
                class="BodyText-module--general__2yKZb TableBody-module--td__1BD2M TableBody-module--tableBodyText__sUB08 TableBody-module--isDiscount__2Ivm5">
                -$19.80</td>
            </tr>
            <tr>
              <th
                class="BodyText-module--general__2yKZb TableBody-module--th__2Z3zX TableBody-module--tableBodyText__sUB08 TableBody-module--lightText__NoZU3">
                Shipping</th>
              <td
                class="BodyText-module--general__2yKZb TableBody-module--td__1BD2M TableBody-module--tableBodyText__sUB08">
                FREE</td>
            </tr>
            <tr>
              <th
                class="BodyText-module--general__2yKZb TableBody-module--th__2Z3zX TableBody-module--tableBodyText__sUB08 TableBody-module--lightText__NoZU3">
                EST. MAXIMUM TAX</th>
              <td
                class="BodyText-module--general__2yKZb TableBody-module--td__1BD2M TableBody-module--tableBodyText__sUB08">
                TBD</td>
            </tr>
          </tbody>
          <tfoot class="TableFoot-module--tableFoot__17FKM TableFoot-module--isDecoupled__2oVC-">
            <tr>
              <th
                class="Heading-module--general__1ZZ-e TableFoot-module--th__36-wq TableFoot-module--total__3H1ZL Heading-module--small__3Jicy">
                Total</th>
              <td
                class="Heading-module--general__1ZZ-e TableFoot-module--td__2NdrQ TableFoot-module--total__3H1ZL Heading-module--small__3Jicy">
                $79.20 </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="FadeIn-module--container__2ZFCP undefined"
        style="animation-duration: 300ms; animation-delay: 0ms; animation-name: FadeIn-module--fadeIn__3zwHr;">
        <p class="BodyText-module--general__2yKZb">We will process your personal data in accordance with H&amp;M's
          <button
            class="CTA-module--action__3hGPH CTA-module--medium__dV8ar CTA-module--reset__1i3en CTA-module--inline__3QeZA"
            tabindex="0" type="button">Privacy Notice</button>.
        </p>
        <p class="BodyText-module--general__2yKZb">By continuing, you agree to <button
            class="CTA-module--action__3hGPH CTA-module--medium__dV8ar CTA-module--reset__1i3en CTA-module--inline__3QeZA"
            tabindex="0" type="button">H&amp;M's General Terms and Conditions.</button></p>
        <p class="BodyText-module--general__tc7rJ"><span>Please note that the tax amount is an estimation and the final
            amount can change. If the estimated tax is presented as TBD, the order value does not include any tax and it
            will be added when the items are shipped.</span></p><button
          class="CTA-module--action__3u4Lb CTA-module--medium__3OtCb CTA-module--primary__2vO6- CTA-module--disabled__1vFLA CTA-module--fullWidth__vCv66 PlaceOrderButton--placeOrderButton__2AwXk"
          disabled="" form="adyen_form_id" type="submit"><span>Almost done</span></button>
        <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2">
          <div class="CustomerServiceInfo--container__2J2io">
            <h3 class="sub-sub-heading light">Customer Service</h3>
            <p class="text">Need help? Please contact <a href="/en_us/customer-service/contact.html">Customer
                Service</a>.<br>
              For quick help, chat with us!.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="FadeInOut-module--container__1hPKG FadeInOut-module--entered__3Jpc2">
      <div class="DeliveryReturnsInfo--container__33ciK"><button type="button"
          class="ActionTriggerBox-module--button__1oZR4"><svg
            class="IconWrapper-module--icon__2Xg1f ActionTriggerBox-module--startIcon__sU8-B IconWrapper-module--normal__2pGtD"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            focusable="false" data-testid="iconTestId-ParcelIcon">
            <path
              d="M22.4236938,5.73875609 L12,1.01 L1.5789164,5.73757195 L11.9887622,11 L12.0161904,11 L22.4236938,5.73875609 Z M23,6.59599893 L12.5,11.9040021 L12.5,22.7727965 L23,18 L23,6.59599893 Z M1,6.59349525 L1,18 L11.5,22.7726581 L11.5,11.9014984 L1,6.59349525 Z M24.0001831,18.5433806 L12.0158386,23.9938224 L12.0022555,24 L-4.97379915e-14,18.5433806 L-4.97379915e-14,5.45267283 L12,-3.55271368e-15 L24.0001831,5.44749397 L24.0001831,18.5433806 Z">
            </path>
          </svg><span class="BodyText-module--general__2yKZb">Shipping &amp; return options</span><svg
            class="IconWrapper-module--icon__2Xg1f ActionTriggerBox-module--endIcon__2fX5X IconWrapper-module--small__2rAlV"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            focusable="false">
            <path d="M4.002 6v10.997L15 16.998v1l-10.998-.001V18h-1v-.003L3 17.998v-1l.002-.001V6h1z"
              transform="rotate(-135 9 12)"></path>
          </svg></button></div>
    </div>
  </aside>
  <footer class="CheckoutOverview--footer__2JdSc"><svg
      class="IconWrapper-module--icon__3Axc5 CheckoutOverview--footerIcon__3rcVI IconWrapper-module--normal__61od4"
      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      focusable="false" role="presentation">
      <path
        d="M12,0 a6.5,6.5 0 0 1 6.5,6.5 V9 H22 v13 a2,2 0 0 1 -2,2 H4 a2,2 0 0 1 -2,-2 V9 h3.5 V6.5 A6.5,6.5 0 0 1 12,0 zm9,10 H3 v12 a1,1 0 0 0 1,1 h16 a1,1 0 0 0 1,-1 V10 zm-9,5 a2,2 0 1 1 0,4 a2,2 0 0 1 0,-4 zm0,1 a1,1 0 1 0 0,2 a1,1 0 0 0 0,-2 zm0,-15 a5.5,5.5 0 0 0 -5.5,5.5 V9 h11 V6.5 A5.5,5.5 0 0 0 12,1 z">
      </path>
    </svg>
    <p class="BodyText-module--general__tc7rJ CheckoutOverview--metaTextColor__vZEin BodyText-module--meta__2g6iH">
      <span>All data will be encrypted</span>
    </p>
  </footer>
</div>
