<div class="container">
  <app-order-filter-header [items]="filterHeaderViewData$ | async"></app-order-filter-header>
  <div class="content" *ngIf="(pageViewModel$ | async) as pageViewModel">
    <div class="order-view">
      <div class="item" *ngFor="let order of pageViewModel.orders">
        <app-order-card [order]="order" (click)="onOpenStatusWindown(order)"></app-order-card>
      </div>
    </div>
  </div>
</div>
<app-order-status-modal *ngIf="this.showStatusWindown" [items]="orderStatusModalViewData$ | async" (onCloseModal)="onCloseStatusWindown()"></app-order-status-modal>
