.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    display: flex;
    padding: 15px;
    overflow-x:hidden !important;
    overflow-y:auto !important;
    height: 300px;

    .order-view {
      flex: 1;
    }
  }
}
