<div class="description">
  <div class="container" *ngIf="this.pageViewModel$ | async as pageViewModel">
    <div class="content content-description">
      <div class="content-title">
        Mô tả sản phẩm
      </div>
      <p class="content-details-text">
        {{ pageViewModel.productType?.description || "Chưa có mô tả của sản phẩm này" }}
      </p>
    </div>

    <div class="content content-details">
      <div class="content-title">
        Thông tin chi tiết
      </div>
      <div class="information">
        <div type="body" class="font-style-20 title-text">Thông tin chung</div>
        <ng-container *ngFor="let item of pageViewModel.generalInformation">
          <ng-container *ngTemplateOutlet="childInformation; context: {item}"></ng-container>
        </ng-container>

        <div type="body" class="font-style-20 title-text">Cấu hình chi tiết</div>
        <ng-container *ngFor="let item of pageViewModel.detailedConfiguration">
          <ng-container *ngTemplateOutlet="childInformation; context: {item}"></ng-container>
        </ng-container>
      </div>

      <div>
        <div type="body" color="primary500" class="see-more">Xem thêm nội dung <svg fill="none" viewBox="0 0 24 24"
            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 8.5L12 15.5L19 8.5" stroke="#82869E" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg></div>
      </div>
    </div>
  </div>
</div>


<ng-template #childInformation let-item="item">
  <div class="child-info">
    <div type="body" class="info-text" style="flex: 2 1 0%;">{{ item.name }}</div>
    <div type="body" class="info-text" style="flex: 3 1 0%;">{{ item?.value || '' }}</div>
  </div>
</ng-template>
